<template>
  <q-layout view="lhh lpR fff ">
   <q-header reveal  class="bg-white text-black " >
      <q-toolbar>
        <q-toolbar-title class="unselectable">

        </q-toolbar-title>

    </q-toolbar>

  <div class="astrodivider">
    <div class="astrodividermask"> </div>
    <span>
      <i><p class="logo" @click="toggleRightDrawer">_--_</p></i>
    </span>
  </div>

  </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  <q-footer  class="qq text-white" css="overflow-x: hidden;">

          <div class="row justify-center">
            <btn @click="toggleRightDrawer"> GSShirt &#169; 2023</btn>

          </div>

    </q-footer>

  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'

// import DrawerD from 'src/components/SiteDrawer.vue'

const TinfoList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {

    // DrawerD
  },

  setup () {
    const rightDrawerOpen = ref(false)

    return {
      essentialLinks: TinfoList,
      rightDrawerOpen,
      toggleRightDrawer () {
        rightDrawerOpen.value = !rightDrawerOpen.value
      }
    }
  }
})
</script>
<style lang="sass">

</style>
<style >
.qq{
  background-color: #dd4646!important;
  opacity: 0.876;

}
.q-header {

opacity: 0.8;
margin: 1rem;
}

.astrodivider {

  position:relative;

box-shadow: -35px 0 92px 0px rgba(255, 0, 0, 0.75) ;
-webkit-box-shadow: -35px 0 92px 0px rgba(255, 0, 0, 0.75) ;
-moz-box-shadow: -35px 0 92px 0px rgba(255, 0, 0, 0.75) ;
}
.astrodividermask {
    overflow:hidden; height:6.66px;
}

.astrodividermask:after {
      content:'gs';
       display:block; margin:-25px auto 0;
       width:100%; height:25px;
        border-radius:125px / 12px;
       box-shadow:0 0 8px rgba(255, 0, 0, 0.75) ;
}
.astrodivider span {
    width:50px; height:50px;
    position:absolute;
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
    box-shadow:0 2px 4px rgb(255, 0, 0);
    background:#fff;
}
.astrodivider i {

    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:60%;
    border:1px dashed rgb(0, 0, 0);
    text-align:center;
    line-height:40px;
    font-style:normal;
     color:#000000dc;
}

.tri {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid black;
}
.blocka {
  position: relative;
  margin: 300px auto 0;
  width: 500px;
  height: 250px;
  background: linear-gradient(0deg, #000, #272727);
}

.blocka:before, .blocka:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.logo{
  font-size: 26px;
}

.blocka:after {
  filter: blur(50px);
}
</style>
